@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");

div {
  font-family: "Josefin Sans", sans-serif;
}
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.App {
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
}
